.grid__container {
    background-color: aqua;
    width:100%;
    height: 80vh;
}

.grid__element {
    background-color: red;
}

.title {
    background-color: #9BC1BC;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
}

h1 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    /* Helvetica Neue replaced by Roboto; don't know how to use copyright typefaces properly */
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding-left: 3%;
}