*, *::before, *::after {
    box-sizing: border-box;
  }


  :root {
    --air: 1.4vw;
  }


.grid__container {
    width:100%;
    height: 83.5vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-gap: var(--air);
    padding: var(--air);
}

.grid__element {
    background-color: red;
}

.one {
    background: #007F5F;
    grid-area: 1/1/4/2;
}

.two {
    background: #2B9348;
    grid-area: 4/1/7/2;
}

.three {
    background: #80B918;
    grid-area: 1/2/7/4;
}

.four {
    background: #DDDF00;
    grid-area: 1/4/3/6;
}

.five {
    background: #EEEF20;
    grid-area: 3/4/5/6;
}

.six {
    background: #FFFF3F;
    grid-area: 5/4/7/6;
}

.seven {
    background: #55A630;
    grid-area: 7/1/11/2;
}

.eight {
    background: #AC0;
    grid-area: 7/2/9/3;
}

.nine {
    background: #BFD200;
    grid-area: 9/2/11/3;
}

.ten {
    background: #D4D700;
    grid-area: 7/3/11/5;
}

.eleven {
    background: #007F5F;
    grid-area: 7/5/11/6;
}

.title {
    background-color: #9BC1BC;
    width: 100%;
    height: 16.5vh;
    display: flex;
    align-items: center;
}

h1 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    /* Helvetica Neue replaced by Roboto; don't know how to use copyright typefaces properly */
    font-size: 4.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding-left: var(--air);
}